.error-modal {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 400px;
  background-color: #514869;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 16px;
  z-index: 1000000;
  transition: top 0.5s ease-in-out;
}

.error-modal.show {
  top: 80px;
}

.error-modal p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2f2841;
}

::-webkit-scrollbar-thumb {
  background: #514869;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00ff88;
}