#myInfo{
    margin-left: 300px;
    margin-top: 50px;
}

.user-card {
    width: 100%;
    max-width: 400px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    text-align: left;
    font-family: 'Arial', sans-serif;
    margin-top: 8%;
}

.user-card h2 {
    font-size: 1.8em;
    color: #514869;
    margin-bottom: 10px;
}

.user-card .username {
    font-style: italic;
    color: #716c85;
    margin-bottom: 20px;
}

.user-card p {
    margin: 5px 0;
    color: #514869;
}

.user-card a {
    color: #00ff88;
    text-decoration: none;
}

.user-card a:hover {
    text-decoration: underline;
}

.user-card .address, .user-card .company {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.user-card h3 {
    font-size: 1.2em;
    color: #716c85;
    margin-bottom: 10px;
}
